@import '../../Styles/variables.scss';

header {
  height: 7rem;
  background-color: $dark-blue;
  color: $white;
  border-bottom: .4rem solid black;

  h1 {
    margin: 0;
    padding-top: 1rem;
    font-size: 2.1rem;
  }
}